#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+bindnow

%:
	dh $@


override_dh_auto_configure:
	# Configure the architecture dependant files
	/bin/sh debian/configure
	
	# Translate the FORTRAN files to C
	/bin/sh debian/translate

override_dh_auto_build:
	make -f debian/Makefile build

override_dh_install:
	# Rename static library with a more library-like name
	mv lib/cspice.a lib/libcspice.a
	
	dh_install --exclude=whats.new

override_dh_installchangelogs:
	dh_installchangelogs doc/whats.new
